.customLink {
    color: #012047;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.resultCount {
    color: #822bd4;
}

.ellipsis {
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.fs14 {
    font-size: 1rem;
}
