.customLink {
    color: #012047;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.resultCount {
    color: #822bd4;
}

.ellipsis {
    display: block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.fs14 {
    font-size: 1rem;
}

.address {
    font-size: 16px; /* Set font size to 16px */
    max-width: 100%; /* Ensure it fits within the card */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ... for truncated text */
}

.customh5 {
    margin-bottom: 0;
}
