$primary-color: #3498db;
$background-color: #f8f8f8;

// Text color variables
$text-primary-color: #333;
$text-secondary-color: #465d7c;
$text-teal: #0e9384;
$text-orange: #e04f16;

// border color variables
$border-primary-color: #e6e8ee;
