$primary-color: #3498db;
$background-color: #f8f8f8;

// Text color variables
$text-primary-color: #333;
$text-secondary-color: #465D7C;
$text-teal: #0E9384;
$text-orange: #E04F16;

// border color variables
$border-primary-color: #E6E8EE;