@use '../../../../../styles/variables' as *;

.card {
    border: 1px solid $border-primary-color;
    box-shadow: 0px 4px 14px 0px rgba(226, 237, 255, 0.25);
    margin-bottom: 24px;
    border-radius: 10px;

    p {
        color: $text-secondary-color;
    }

    .fs15 {
        font-size: 15px;
    }

    .cardContainer {
        display: flex;
        align-items: stretch;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    .cardImg {
        width: 100%;
        max-width: 276px;
        flex-shrink: 0;
        position: relative;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        display: flex;
        align-items: stretch;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 100%;
            height: 250px;
            border-radius: 10px 10px 0 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
            vertical-align: middle;
            border-radius: 10px 0 0 10px;
            transition: 0.5s all;

            @media (max-width: 768px) {
                border-radius: 10px 10px 0 0;
            }
        }

        &:hover {
            img {
                transform: scale(1.14);
                transition: 0.5s all;
            }
        }

        .gridOverlayItem {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            padding: 0 20px;
            z-index: 1;

            .favIcon {
                width: 32px;
                height: 32px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                border: none;
                i {
                    color: #e3e6ec;
                }
            }

            .isSelected i {
                color: #e04f16;
            }

            .badge {
                padding: 0.25rem 0.45rem !important;
                font-weight: 600 !important;
                letter-spacing: 0.5px;
                border-radius: 4px !important;
            }

            .bgOrange {
                background: #e04f16;
            }

            .bgBlue {
                background: #007bff;
            }
        }
    }

    .doctorSpecialty {
        text-decoration: none;
    }

    .doctorInfo {
        border-bottom: 1px dashed $border-primary-color;

        &Name {
            color: #012047;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: #0e82fd;
            }
        }
    }

    .bookingButtonContainer {
        @media (max-width: 576px) {
            display: flex;
            width: 100%;
        }
    }
}
