.card {
    display: flex;
    flex-direction: column; // để ảnh nằm trên, tên nằm dưới
    height: 12rem; // tương đương h-48
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }

    .imageWrapper {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7f7f7;

        img {
            max-width: 70%; // 🔥 tăng từ 50% → 70%
            max-height: 70%;
            object-fit: contain;
            transition: transform 0.2s ease-in-out;
            transform: scale(2);
        }
    }

    .nameWrapper {
        margin-top: 0.5rem;
        text-align: center;
        background: linear-gradient(90.08deg, #0e82fd 0.09%, #06aed4 70.28%);
        border-radius: 0.25rem;
        padding: 0.5rem;

        h3 {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: white;
        }
    }
}
