/* Login.module.scss */
.loginRight {
    padding: 24px !important;
}

.inputGroup {
    position: relative;

    .leftIcon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #465d7c;
        pointer-events: none;
        font-size: 16px;
    }

    input {
        padding-left: 40px;
        &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #4a90e2; // hoặc màu bạn muốn
        }
    }
}

.inlineBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .forgotPassword {
        color: #3d3d3d;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: #0e82fd;
        -webkit-transition: 0.7s;
        -ms-transition: 0.7s;
        transition: 0.7s;

        &:hover {
            color: rgb(1.7777777778, 104.8888888889, 214.2222222222);
            -webkit-transition: 0.7s;
            -ms-transition: 0.7s;
            transition: 0.7s;
        }
    }
}

.passGroup {
    position: relative;

    .togglePassword {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #465d7c;
    }
}
